body {
    color:rgb(90, 4, 16);
    background:blueviolet;
}
.heading
{
    width:80%;
    font: size 22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
    color:rgb(93, 241, 241);
    
}
#camera
{
    border:2px dashed rgb(10, 10, 10);
    width:350px;
    height: 350px;
}